# Ignore everything
*
*/

# But not the array folder
!array/
!array/**

# But not the arrays_2d folder
!arrays_2d/
!arrays_2d/**

# But not the baisc_string folder
!baisc_string/
!baisc_string/**

# Don't ignore .gitignore itself
!.gitignore

# Ignore compiled files
*.class
